{% extends 'base.html' %}

{% block content %}
    <div class="row text-center hero-heading">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row text-center hero-image">
        <div class="col-md-6">
            <img 
                src="{{ url_for('static', filename='images/Landing Image2.png') }}" 
                alt="Landing page image 1" 
                class="img img-fluid"
                style="width: 80%; height: auto;">
        </div>
        <div class="col-md-6">
            <img class="image"
                src="{{ url_for('static', filename='images/Landing Image.png') }}" 
                alt="Landing page image 2" 
                class="img img-fluid"
                style="width: 80%; height: auto;">
        </div>
    </div>
    <div class="row text-center hero-button">
        <div class="col-md-12">
            <a href="{{ url_for('register') }}">
                <button class="btn bg-primary">Get Started</button>
            </a>            
        </div>
    </div>
{% endblock %}