{% extends 'base.html' %}

{% block app_content %}
    <div class="row mt-4">
        <div class="col-md-5 text-center">
            <p>
                <img src="{{ user.avatar(120) }}" alt="User avatar">
            </p>
        </div>
        <div class="col-md-7">
            <p>
                <strong>Username: </strong>  {{ user.username }}
            </p>
            <p>
                <strong>Email: </strong> {{ user.email }}
            </p>
            {% if user.last_seen %}
                <p>
                    <strong>Last Seen: </strong> {{ moment(user.last_seen).format('lll') }}
                </p>
            {% endif %}
            {% if user.about_me %}
                <p>
                    <strong>About me: </strong> {{ user.about_me }}
                </p>
            {% endif %}
            {% if user == current_user %}
                <p>
                    <a href="{{ url_for('edit_profile') }}">Edit profile</a>
                </p>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Start: posts -->
            {% for post in posts %}
                {% include '_post.html' %}
            {% endfor %}
            <!-- End: posts -->

            <!-- Start: pagination -->
            {% include '_pagination.html' %}
            <!-- End: pagination -->
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}